-- 1. Create the system_settings table
CREATE TABLE IF NOT EXISTS public.system_settings (
    id smallint PRIMARY KEY DEFAULT 1,
    active_day smallint NOT NULL DEFAULT 1,
    active_checkpoint text NOT NULL DEFAULT 'registration',
    sheetdb_url text,
    created_at timestamp with time zone DEFAULT now()
);

-- 2. Insert the mandatory first row for the Master Switch to alter
INSERT INTO public.system_settings (id, active_day, active_checkpoint)
VALUES (1, 1, 'both')
ON CONFLICT (id) DO NOTHING;

-- 3. Make sure delegates has the position column for the Ingestion Tab
ALTER TABLE public.delegates ADD COLUMN IF NOT EXISTS position text;

